.bg-instituicao{
  position: relative;
  background-size: cover;
  height: 100vh;
  background-position-x: center;
  background-image:url(img/bg-img/1.jpg);
}
.bg-aluno{
  position: relative;
  background-size: cover;
  height: 100vh;
  background-position-x: center;
  background-image:url(img/bg-img/2.jpg);
}   
.logo{
  width: 200px;
  position: relative;
  
  z-index: 3;
}